# Dependencies
node_modules/

# Build
/.cache/
/dist/

# Logs
yarn-error.log
npm-debug.log*
pnpm-debug.log*

# TypeScript
/.ts-cache/

# Environment variables
.env
.env.local
.env.*.local

# Editor
/.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
